{% extends '@EasyAdmin/page/content.html.twig' %}


{% block head_stylesheets %}
	{{ parent() }}
	<link rel="icon" href="{{ asset('favicon.svg') }}" type="image/svg+xml">
{% endblock %}


{% block content_title %}Bienvenue dans l'espace d'administration de Bilingue1
{% endblock %}

{% block main %}
	<div class="jumbotron">
		<h1>Tableau de bord</h1>
		<p>Bienvenue dans l'interface d'administration !</p>
		<p>Utilisez le menu de gauche pour naviguer entre les différentes sections.</p>
	</div>

	<div class="row mt-4">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<i class="fas fa-tags mr-2"></i>
					Catégories
				</div>
				<div class="card-body">
					<p>Gérer les catégories de produits</p>
					<a href="{{ ea_url().setController('App\\Controller\\Admin\\CategoryCrudController').setAction('index') }}" class="btn btn-primary">Voir les catégories</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-header bg-success text-white">
					<i class="fas fa-box mr-2"></i>
					Produits
				</div>
				<div class="card-body">
					<p>Gérer les produits du catalogue</p>
					<a href="{{ ea_url().setController('App\\Controller\\Admin\\ProductCrudController').setAction('index') }}" class="btn btn-success">Voir les produits</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-header bg-warning text-dark">
					<i class="fas fa-users mr-2"></i>
					Utilisateurs
				</div>
				<div class="card-body">
					<p>Gérer les utilisateurs</p>
					<a href="{{ ea_url().setController('App\\Controller\\Admin\\UserCrudController').setAction('index') }}" class="btn btn-warning">Voir les utilisateurs</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
