{% extends 'base.html.twig' %}

{% block title %}
	{{ current_locale == 'fr' ? 'Liste des produits' : 'Products List' }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">

			{% if current_locale == 'fr' %}
				<h2>Liste des produits</h2>
			{% else %}
				<h2>List of Products</h2>
			{% endif %}


			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ current_locale == 'fr' ? 'Produit' : 'Product' }}</th>
						<th>{{ current_locale == 'fr' ? 'Catégorie' : 'Category' }}</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ current_locale == 'fr' ? product.nameFr : product.nameEn }}</td>
							<td>{{ current_locale == 'fr' ? product.category.titleFr : product.category.titleEn }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="2">{{ current_locale == 'fr' ? 'Aucun produit trouvé' : 'No products found' }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	{# Ajout des liens de navigation pour les produits #}
	{# 'product_index' correspond au nom donné à la route dans le contrôleur Symfony #}
	{# {'_locale': 'fr'} passe le paramètre _locale avec la valeur 'fr'.#}
	{# Symfony utilise ce paramètre pour générer l'URL correcte, par exemple /fr/product#}
		<div class="mb-4"> <a href="{{ path('product_index', {'_locale': 'fr'}) }}" class="btn btn-outline-primary me-2">
			Voir les produits en français
		</a>
		<a href="{{ path('product_index', {'_locale': 'en'}) }}" class="btn btn-outline-primary">
			View products in English
		</a>
	</div>

{% endblock %}
