{% extends 'base.html.twig' %}

{% block title %}
	{{ current_locale == 'fr' ? 'Liste des produits' : 'Products List' }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h2>{{ current_locale == 'fr' ? 'Liste des produits' : 'List of Products' }}</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ current_locale == 'fr' ? 'Produit' : 'Product' }}</th>
						<th>{{ current_locale == 'fr' ? 'Catégorie' : 'Category' }}</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ current_locale == 'fr' ? product.nameFr : product.nameEn }}</td>
							<td>{{ current_locale == 'fr' ? product.category.titleFr : product.category.titleEn }}</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="2">{{ current_locale == 'fr' ? 'Aucun produit trouvé' : 'No products found' }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
